<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamedev Projects</title>
  <style type="text/css">
    body {
      font-family: sans-serif;
    }

    li {
      margin-bottom: 1em;
    }
  </style>
</head>

<body>
  <h1>Gamedev Projects</h1>
  <ul>
    <% for (const project of projects) { %>
      <li>
        <a href="projects/<%= project %>/index.html" id="<%= project %>">
          <%= project %>
        </a>
      </li>
      <% } %>
  </ul>
</body>

</html>